<!-- Uses a transparent header that draws on top of the layout's background -->
<style>
header.with-image{
  {{#if @blog.cover}}background: url({{@blog.cover}}) center / cover;{{/if}}
}
</style>


<!--header class="mdl-layout__header {{#is "home"}}mdl-layout__header--waterfall{{/is}}"-->
<header class="mdl-layout__header mdl-layout__header--waterfall with-image">

  <!-- Top row, always visible -->
  <div class="mdl-layout__header-row blog-title">
    <!-- Title -->
    <span class="mdl-layout-title ">
      {{#if @blog.logo}}
      <img src="{{@blog.logo}}" alt="{{@blog.title}}" class="logo" />
      {{/if}}

      {{@blog.title}}

    </span>
    <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation mdl-layout--large-screen-only">
          {{> social}}
      </nav>
  </div>
  <!-- Bottom row, not visible on scroll -->
  <div class="mdl-layout__header-row blog-description">
    <div class="description">{{@blog.description}}</div>
    <div class="mdl-layout-spacer"></div>

  </div>

</header>
<div class="mdl-layout__drawer">
  <span class="mdl-layout-title"><h4>{{@blog.title}}</h4>
    {{#if @blog.logo}}
    <img src="{{@blog.logo}}" alt="{{@blog.title}}" class="logo" />
    {{/if}}
  </span>

  <span class="description margin1em">{{@blog.description}}</span>
  <div class="margin-lr top-line margin1em">
    <h5>Content</h5>
    <nav class="mdl-navigation navigation-cover links">
      {{navigation}}
    </nav>
  </div>
  <div class="margin-lr top-line margin1em">
    <h5>Contact</h5>
    {{> social}}
  </div>
</div>
